.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: $border-width solid $border-color;
  .menu {
    display: flex;
    align-items: center;
    > .menu-item {
      margin-right: 5px;
      width: 100px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
